.activeLink {
  border-bottom: 2px solid #597818;
  color: #597818;
}

.speakOnly {
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  font-size: 0;
  line-height: 0;
  text-indent: -1000px;
}
.accessWrapper {
  transition: all 0.3s ease-in-out;
}
.accessBtn {
  transition: all 0.3s ease-in-out;
  width: 100%;
  svg {
    transition: all 0.3s ease-in-out;
    transform: scale(1, 1);
  }
  &:hover {
    svg {
      transform: scale(1.3, 1.3);
    }
  }
}
